$color-text: #fff;
$color-text-opposite: #000;
$color-text-disabled: #727271;
$color-bg: rgba(255, 255, 255, 0.697);
$color-primary: #8bbeff;
$color-primary-darker: #74aaff;
$color-primary-darkest: #5c95ff;
$color-primary-lighter: #a2d2ff;
$color-primary-lightest: #bde0fe;
$color-secondary: #ffb3c6;
$color-secondary-darker: #ff8fab;
$color-secondary-darkest: #fb6f92;
$color-secondary-lighter: #ffc8dd;
$color-secondary-lightest: #f9e0dc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background-color: $color-primary;
}

body {
  font-family: "Nunito", sans-serif;
  background-image: url("./assets/images/daniel-cartin-LgHNehAIcOs-unsplash.jpg");
  background-size: auto;
}

h1 {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  margin: 20px 0;
  color: $color-text;
}

h2 {
  text-align: center;
  color: $color-text;
}

button {
  background-color: #fff;
}

.btn {
  text-decoration: none;
  color: $color-text-opposite;
  border: 2px solid $color-primary;
  border-radius: 0.5rem;
  padding: 15px 0;
  width: 90%;
  margin: 0 auto;
  max-width: 720px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0px 3px 8px rgba(255, 255, 255, 0.3);
  transition: all 0.1s;
  background-color: $color-bg;
  border-color: $color-text;
  &:hover {
    background-color: $color-primary-darkest;

    color: $color-text;
  }
  &:active {
    transform: scale(0.98);
  }
}

.btn-sm {
  width: 100%;
  padding: 10px 10px;
}

.btn-light {
  font-weight: 400;
}

.btn-add {
  margin: 20px auto;
}

.add-page {
  border: 2px solid #fff;
  border-radius: 0.5rem;
  width: 90%;
  margin: 0 auto;
  background-color: $color-bg;
  padding: 15px 30px;
}

.form-group {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  label {
    font-weight: 700;
  }
  .form-input {
    // border: 1px solid green;
    margin-top: 1px;
    margin-bottom: 5px;
    padding: 10px 0 10px 6px;
    border: 1px solid $color-primary;
    border-radius: 0.5rem;
    // border-radius: 10px;
  }
}

.form-group-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  label {
    margin-right: 5px;
  }
}

// .focus-control:focus {
//   box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.3);
//   outline: none;
// }

.stop {
  border: 2px solid $color-text;
  border-radius: 0.5rem;
  background-color: $color-bg;
  width: 90%;
  margin: 10px auto;
  padding: 15px 30px;
  max-width: 720px;
  box-shadow: 0px 3px 8px rgba(255, 255, 255, 0.5);
  .stop-editing {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
  }
  .button-save {
    margin-top: 5px;
  }
  .stop-card {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .stop-content {
      div h3 {
        display: flex;
        align-items: center;
        .inline-icon {
          margin-right: 5px;
        }
      }
    }
    .stop-content-isOptional-true {
      color: $color-text-disabled;
    }
    .stop-icons {
      display: flex;
      flex-direction: column;
      span {
        font-size: 24px;
        cursor: pointer;
        transition: all 0.05s;
        &:hover {
          transform: scale(1.15);
        }
      }
    }
  }
}
.stop-isFavorite-true {
  background-color: $color-secondary-darkest;
  color: $color-text;
  .btn {
    color: $color-secondary-darkest;
    background-color: $color-bg;
    border-color: $color-text;
    &:hover {
      color: $color-text;
      background-color: $color-secondary-darkest;
    }
  }
  .form-input {
    border: none;
  }
}

@media (min-width: 600px) {
  .btn-add {
    width: 60%;
  }
  .stop {
    width: 60%;
    padding: 15px 40px;
    .stop-card {
      // justify-content: space-around;
      .stop-icons {
        display: flex;
        flex-direction: row;
        .stop-icon {
          font-size: 28px;
          margin-right: 2px;
        }
      }
    }
  }
}
