$color-text: #fff;
$color-text-opposite: #000;
$color-text-disabled: #bcb8b1;
$color-primary: #a2d2f2;
$color-primary-darker: lightblue;
$color-primary-darkest: lightblue;
$color-primary-lighter: #bde0fe;
$color-primary-lightest: lightblue;
$color-secondary: #ffb3c6;
$color-secondary-darker: #ff8fab;
$color-secondary-darkest: #fb6f92;
$color-secondary-lighter: #ffc8dd;
$color-secondary-lightest: #f9e0dc65;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background-color: $color-primary;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

h1 {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  margin: 20px 0;
}

h2 {
  text-align: center;
}

button {
  background-color: #fff;
}

.btn {
  text-decoration: none;
  color: $color-text-opposite;
  border: 2px solid $color-primary;
  border-radius: 0.5rem;
  padding: 15px 0;
  width: 90%;
  margin: 0 auto;
  max-width: 720px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  &:hover {
    background-color: $color-primary-darkest;
    color: $color-text;
  }
}

.btn-sm {
  width: 100%;
  padding: 5px 10px;
}

.btn-light {
  font-weight: 400;
}

.form-group {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  label {
    font-weight: 700;
  }
  .form-input {
    // border: 1px solid green;
    margin-top: 1px;
    margin-bottom: 5px;
    padding: 10px 0 10px 6px;
    border: 1px solid $color-primary;
    border-radius: 0.5rem;
    // border-radius: 10px;
  }
}

.stop {
  border: 2px solid $color-secondary;
  border-radius: 0.5rem;
  width: 90%;
  margin: 10px auto;
  padding: 15px 30px;
  max-width: 720px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  .stop-editing {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
  }
  .button-save {
    margin-top: 5px;
  }
  .stop-card {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .stop-content {
      div h3 {
        display: flex;
        align-items: center;
        .inline-icon {
          margin-right: 5px;
        }
      }
    }
    .stop-content-isOptional-true {
      color: $color-text-disabled;
    }
    .stop-icons {
      display: flex;
      flex-direction: column;
      span {
        font-size: 24px;
        cursor: pointer;
        transition: all 0.05s;
        &:hover {
          transform: scale(1.15);
        }
      }
    }
  }
}
.stop-isFavorite-true {
  background-color: $color-secondary-lightest;
}

@media (min-width: 600px) {
  .btn-add {
    width: 60%;
  }
  .stop {
    width: 60%;
    padding: 15px 40px;
    .stop-card {
      // justify-content: space-around;
      .stop-icons {
        display: flex;
        flex-direction: row;
        .stop-icon {
          font-size: 28px;
          margin-right: 2px;
        }
      }
    }
  }
}
